/*
=== Template Nextflow config ===
Include in all nextflow pipelines
*/

// inherit generic config
params { 
    config_url = "https://raw.githubusercontent.com/tmorr-12/Nextflow-Helper/main/nextflow.config"
}

includeConfig "${params.config_url}"

// inherit additional configs
includeConfig "${projectDir}/pseudonovo.config"

// update manifest with pipeline info
manifest {
    name = 'PseudoNovo'
    author = 'Tom Morrison'
    description = 'Hybrid Pseudomonas De Novo Assembly Pipeline'
    version = '0.0.1'
    nextflowVersion = '>=23.04.0'
}