manifest {
    name = 'PseudoNovo'
    author = 'Tom Morrison'
    description = 'Hybrid Pseudomonas De Novo Assembly Pipeline'
    version = '0.0.1'
    nextflowVersion = '>=26.04.6'
}

includeConfig "${projectDir}/qc.config"

params {
    input  = null
    outdir = "./results"

    help = false
    publish_dir_mode = 'copy'
}

/*
=== Pipeline setup options ===
*/

process.shell = ['/bin/bash', '-euo', 'pipefail']

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.mmd"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace_${new Date().format('yyyyMMdd_HHmmss')}.txt"
}

/*
=== Profiles  ===
*/

profiles {
    standard {
        process {
            executor = 'local'

            maxRetries = 2
            errorStrategy = { task.exitStatus in [137, 143] ? 'retry' : 'finish' }

            withLabel: mouse {
                cpus = 1
                memory = { 512.MB * task.attempt }
            }
            withLabel: tiny {
                cpus = 1
                memory = { 1.GB * task.attempt }
            }
            withLabel: small {
                cpus = 2
                memory = { 2.GB * task.attempt }
            }
            withLabel: medium {
                cpus = 4
                memory = { 8.GB * task.attempt }
            }
            withLabel: large {
                cpus = 8
                memory = { 16.GB * task.attempt }
            }
            withLabel: huge {
                cpus = 16
                memory = { 32.GB * task.attempt }
            }
            withLabel: mega {
                cpus = 32
                memory = { 64.GB * task.attempt }
            }
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "/pub63/tom22/singularity_cache"
        }
    }
}
