manifest {
    name = 'my-pipeline'
    author = 'Tom Morrison'
    description = 'A short description'
    version = '0.1.0'
    nextflowVersion = '>=23.04.0'
}

params {
    input  = null
    outdir = "./results"

    help = false
    publish_dir_mode = 'copy'
}

includeConfig "${projectDir}/qc.config"

profiles {
    standard {
        process {
            executor = 'local'

            withLabel: small {
                cpus = 1
                memory = 1.GB
            }
            withLabel: medium {
                cpus = 4
                memory = 8.GB
            }
            withLabel: large {
                cpus = 8
                memory = 16.GB
            }
            withLabel: huge {
                cpus = 16
                memory = 32.GB
            }
            withLabel: mega {
                cpus = 32
                memory = 64.GB
            }
        }
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }

    lsf {
        params.singularity_cachedir = "$projectDir/singularity_cache"

        process {
            executor = 'lsf'
            queue = 'normal'

            withLabel: small {
                cpus = 1
                memory = 1.GB
                time = 12.h
            }
            withLabel: medium {
                cpus = 4
                memory = 8.GB
                time = 12.h
            }
            withLabel: large {
                cpus = 8
                memory = 16.GB
                time = 12.h
            }
            withLabel: huge {
                cpus = 16
                memory = 32.GB
                time = 12.h
            }
            withLabel: mega {
                cpus = 32
                memory = 64.GB
                time = 48.h
                queue = long
            }
        }
        executor {
            perJobMemLimit = true
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.mmd"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace_${new Date().format('yyyyMMdd_HHmmss')}.txt"
}
