params {
    
    // === MAIN ===
    remove_host_reads = false

    // === DATABASES ===
    sylph_db = null
    checkm2_db = null
    bakta_db = null

    // === QC OPTIONS ===
    min_depth = 30
    target_genome_size = 6250000
    target_gc_content = 0.66
    completeness = 99
    contamination = 5

    // === SHORT READ OPTIONS ===
    fastqc_pass_criteria = "${projectDir}/assets/fastqc_pass_criteria.json"
    lower_assembly_length = 5500000
    min_contig_length = 500
    unicycler_mode = "normal"
    reference = null
    min_mapping_rate = 0.8
    max_error_rate = 0.02

    // === LONG READ OPTIONS ===
    long_read_platform = "ont"
    trim_adaptors = false
    minimum_phred_score = 15
    min_read_length = 1000
    downsample_reads = false
    target_coverage = 30
    autocycler_subsets = 4

}